.contact {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* subtle dark overlay so text pops */
.contact-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* center card */
.contact-card {
  background: rgba(15, 15, 15, 0.75);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(10px);

  padding: 50px 48px;
  text-align: center;
  margin-top: 100px;

  max-width: 380px;
  width: 90%;

  box-shadow:
    0 25px 60px rgba(0, 0, 0, 0.55);

  border: 1px solid rgba(255, 255, 255, 0.08);
}


/* heading */
.contact-card h1 {
  font-size: 55px;
  margin-bottom: 5px;
  color: #fff;
  letter-spacing: -0.5px;
  font-weight: 700;
  transform: scaleY(1.05);
}

.contact-icon {
  width: 35px;
  height: 35px;
  transform: translateY(1px);
}

.contact-icon.instagram {
  width: 16px;
  height: 16px;
}

/* subtitle */
.contact-lead {
  color: #d6d6d6;
  margin-bottom: 28px;
  font-size: 17px;
}

/* list */
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* links */
.contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;

  color: #ff4f87;
  font-size: 18px;
  text-decoration: none;
  font-weight: 800;

  transition: transform 0.2s ease, opacity 0.2s ease;
}

.contact-item:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}
