.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* make LinkedIn icon bigger */
.linkedin-icon {
  transform: scale(1.2);
}


/* container for the icons */
.socials {
  display: flex;              
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

/* clickable icon box */
.socials a {
  width: 25px;
  height: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* actual image inside the box */
.socials img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}


/* top strip */
.navbar-top {
  background: #FFF1DC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 8px;
  font-size: 11px;
}

.waitlist-top {
  font-size: 11px; 
  font-weight: 200;
  letter-spacing: 0.06em;
  color: #0E2A47; 
}

/* pink bar */
.navbar-main {
  background: #ff005d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  min-height: 0px;
}

.navbar-main a {
  color: #FFF1DC;
  text-decoration: none;
  position: relative;
  font-size: 22px;
  font-weight: 400;
  padding: 10px 18px;
  border-radius: 500px; 
  transition: 
    background-color 0.25s ease,
    color 0.25s ease,
    transform 0.2s ease;
}

.navbar-main a:hover {
  background-color: #FFF1DC;  
  color: #ff005d;            
  transform: translateY(-2px); 
}

.logo-wrapper {
  background: #ff005d;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 48px 26px 48px;
}

.logo-wrapper img {
  height: 100px;
  width: auto;
}

@media (max-width: 900px) {
  .navbar-main nav {
    display: none;
  }
}
