.college-network {
  background: #FFF1DC;
  padding: 20px 20px;
  text-align: center;
  overflow: hidden;
  margin-top: 0;
}

.college-network h2 {
  font-size: 50px;
  margin-bottom: 40px;
  font-weight: 400;
}

.college-network p {
  font-size: 25px;
  color: black;
  font-weight: 150;
}

.logo-carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}

.logo-track {
  display: flex;
  gap: 80px;
  width: max-content;
  animation: scroll 25s linear infinite;
}

.logo-track img {
  height: 100px;
  opacity: 0.95;
  transition: all 0.3s ease;
}

.logo-track img:hover {
  filter: grayscale(0%);
  opacity: 1;
  transform: scale(1.05);
}

.logo-carousel:hover .logo-track {
  animation-play-state: paused;
}

@keyframes scroll {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}
