
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: var(--body);
  color: var(--dark);
  background-color: #fff7e6;
}
